@import url('footer.css');
@import url('media-query.css');
* {
	font-family: Century Gothic;
}

body {
	margin: 0;

}

a {
	text-decoration: none;
}

.brand-name {
	color: white;
	font-size: 2.9em;
}



.bn-off {
	text-align: center;
}

.bn-on {
	text-align: left;
	
}

.moreBtn {
	float: right;
	color: white;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-top: 15px;
	margin-right: 10px;
}

.nav-container {
	justify-content: center;
	text-align: center;
	max-width: 100%
}

.header-on {
	top: 0;
	background-color: #009688;
}

.header-off {
	background-color: #333;
}

.header-off, .header-on {
	/*background-color: #333;*/
/*	position: absolute;
	width: 100%;
	margin-bottom: 100px;*/
  position: fixed;
  width: 100%;
  text-align: center;
  /*font-size: 72px;*/
  /*line-height: 108px;*/
  /*height: 108px;
  /*background: #335C7D;*/
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  max-width: 100%;
  top: 0;
  z-index: 9999;
}

.navlist {
	text-align: center;
	margin: 0 auto;
	padding: 20;
}

.nav-butts {
	display: block;

}

.nav-butts li {
	margin-bottom: 20px;
}

.nav-butts a {
	color: white;
}

.navmenu {
	background-color: rgba(52, 152, 219,.7);
	border-radius: 2px;
	right: 0;
}

.nav {
	display: inline;
}

.section-off {
	display: flex;
	justify-content: center;
	max-width: 100%;
}

.section {
	/*margin-top: 5%;*/
}

.login-form-div {
	text-align: center;
	border: 1px #388ff4 solid;
	margin-top: 50px;
	padding: 3%;
	border-radius: 3px;
}

.login-form {
	justify-content: center;
	margin: 0 auto;
	max-width: 100%
}

.loginBtn {
	padding: 5px;
	background-color: transparent;
	border: 1px #000 solid;
}

.inputs {
	padding: 5px;
	font-size: 15px;
	border: .5px #f6aa00 solid;
	border-radius: 3px;
}

.footer {
	justify-content: center;
	display: flex;
	color: white;
	background-color: #444;
	text-align: center;
	height: 107px;
	width: 100%;
	margin-top: 0;
}

.primary-content {
	
	display: block;
	padding: 5%;
	max-width: 100%;
	margin: auto;
}

.afeed {
	margin: 0 auto;
	sdtext-aslign: center;
	/*padding-left: 10%;
	padding-right: 10%;*/
	justify-content: center;
	width: 100%;
}

input[type=button] {
	background-color: #3498db;
}

textarea {
	resize:vertical; 
	max-height:300px; 
	min-height:200px;
	padding: 20px;
	font-size: 15px;
}

.funcBTNS {
	background-color: #2ecc71;
	border: none;
	color: white;
	padding: 5px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 2px;
}

/* hover */
.funcBTNS:hover {
	background-color: #2eccc1;
	transition: all ease-in-out 0.3s;
}

.funcBTNS:active {
	background-color: #25cc31;
}


.funcBTNSX {
	background-color: #e74c3c;
	border: none;
	color: white;
	padding: 5px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 2px;
}

.dateformatstyle {
	color: #888;
	font-size: 13;
}

.profileLink {
	color: #2980b9;
}


@media screen and (max-width: 900px) {
	.section {
		margin-top: 10%;
	}
}

@media screen and (max-width: 400px) {
	.section {
		margin-top: 13%;
	}
}